#AWS ENV
AWS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIARZJ56O72Z2ZYFO2Z
AWS_SECRET_ACCESS_KEY=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

#DB ENV
POSTGRES_HOST=13.38.126.71
POSTGRES_DATABASE=cheyni-db
PORT=3000
POSTGRES_PORT=5432
POSTGRES_USER=cheyniadmin
POSTGRES_PASSWORD=cheyniadmin123

#SMTP ENV
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_EMAIL=gustavo@izzicupoborges.com
SMTP_PASS=lwhu ffxg odxr uigp

