<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Password Recovery</title>
    <meta name="description" content="Recuperação de Acesso.">
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table style="width: 100%; background-color: #f3f3f4; text-align: center; padding: 60px 100px;">
        <tr>
            <td>
            <div>
                <table style="width: 600px; margin: auto; background-color: #ffffff; padding: 50px 20px;" cellpadding="0" cellspacing="0">
                <tr>
                    {{!-- <img src="cid:logo@image.com" alt="QuickCheck Brasil"> --}}
                </tr>

                <tr>
                    <td> <h1 style="font-size: 20px; text-align: center; color: #1d5f5f; font-weight: 800; font-family: sans-serif; text-transform: uppercase; margin-top: 40px;"> Cheyni Password </h1> </td>
                </tr>
                <tr>
                    <td>
                    <table tyle="width: 100%;" cellpadding="0" cellspacing="0">
                        <tr>
                        <td>
                            <p style="font-size: 15px;"> Do not reply to this email. </p>
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <h2 style="margin-bottom: 30px;">Temporary Password: {{ password }}</h2>
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <a href="http://new.quickcheckbrasil.com.br" style="background-color: #1d5f5f; text-align: center; text-transform: uppercase; color: #ffffff; padding: 20px 40px; text-decoration: none; font-weight: 800; border-radius: 30px;">Clique aqui e acesse sua conta</a>
                        </td>
                        </tr>
                        <tr>
                        <td>
                            <span style="color: #c3c3ce; display: block; margin-top: 50px;"> <strong>&copy; Cheyni</strong> </span>
                        </td>
                        </tr>
                    </table>
                    </td>
                </tr>
                </table>
            </div>
            </td>
            <td></td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>